<div class="card mb-3 my-card">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img [src]="movie.image" class="card-img-top" alt="..." fallimg>
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{movie.title}}</h5>
                <p class="card-text">Score: {{movie.score}}</p>
                <app-form-score></app-form-score>
                <p class="card-text">{{movie.description}}</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>
