<form>
    <p class="clasificacion">
        <button type="button" class="btn btn-warning score" (click)="vote()">Vote</button>
        <input id="radio1" type="radio" name="estrellas" value=5 [(ngModel)]="score">
        <label for="radio1">★</label>
        <input id="radio2" type="radio" name="estrellas" value=4 [(ngModel)]="score">
        <label for="radio2">★</label>
        <input id="radio3" type="radio" name="estrellas" value=3 [(ngModel)]="score">
        <label for="radio3">★</label>
        <input id="radio4" type="radio" name="estrellas" value=2 [(ngModel)]="score">
        <label for="radio4">★</label>
        <input class="score" id="radio5" type="radio" name="estrellas" value=1 [(ngModel)]="score"> 
        <label class="score" for="radio5">★</label>
         :etoV
    </p>
</form>
